<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <!-- website font  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{('theme/css/swiper.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{('theme/css/animate.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{('theme/css/style.css')}}" />

    <title>Sign Up</title>
</head>

<body>

    <!-- Navbar 1 Start -->
    <section id="Nav1">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <i class="fas fa-phone-volume" style="border-right: 1px solid gray;"> +20 127 245 6884
                                &nbsp; &nbsp; </i>
                        </li>
                        <li class="nav-item">
                            <i class="far fa-envelope" style="padding-left: 15px;"> InfoBloodBank@gmail.com</i>
                        </li>
                    </ul>
                </div>
                <div class="mx-auto order-0 navbar-brand mx-auto">
                    <a href="https://www.instagram.com/ipda3.tech/"><i
                            class="fab fa-instagram github">&nbsp;&nbsp;</i></a>
                    <a href="https://www.facebook.com/ipda3tech/"><i
                            class="fab fa-facebook-f facebook">&nbsp;&nbsp;</i></a>
                    <a href="https://twitter.com/ipda3_tech"><i class="fab fa-twitter twitter">&nbsp;&nbsp;</i></a>
                    <a href="https://api.whatsapp.com/send?phone=+201097571186"><i
                            class="fab fa-whatsapp whats">&nbsp;&nbsp;</i></a>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link selected" style="border-right: 1px solid gray;" href="#">EN &nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left: 15px;" href="#">AR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- Navbar 1 End -->

    <!-- Navbar 2 Start -->
    <section id="Nav2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="{{ asset ('theme/img/logo.png')}}" width="18%"></img>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link selected" href='{{ path('Accueil') }}'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('theme/About-us.html')}}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('theme/requests.html')}}">Donations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{asset ('theme/who-we-are.html')}}">Who We Are ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('theme/contact-us.html')}}">Contact Us</a>
                    </li>
                </ul>
                <button class="btn signup" onclick= "window.location.href = '{{ path('app_new_donateur')}}';">New Account</button>
                <button class="btn login" onclick= "window.location.href = '{{ path('app_login')}}';">Login</button>
            </div>
        </nav>
    </section>
    <!-- Navbar 2 End -->

    <!-- Navigator Start -->
    <section id="navigator">
        <div class="container">
            <div class="path">
                <div class="path-main" style="color: darkred; display:inline-block;">Home</div>
                <div class="path-directio" style="color: grey; display:inline-block;"> / Sign up</div>
            </div>

        </div>
    </section>
    <!-- Navigator End -->

    <!-- Sign Up Start -->
   <!-- Sign Up Start -->
<section id="sign-up">
    <div class="container">
        <img src="{{ asset('theme/img/logo.png')}}" alt="">
        {{ form_start(DonateurForm, {'attr': {'class': 'custom-form'}}) }}
            
            {# Champ Prénom #}
            <div class="form-group">
                {{ form_widget(DonateurForm.prenom, {
                    'attr': {
                        'placeholder': 'Name',
                        'class': 'form-control'
                    }
                }) }}
            </div>
            
            {# Champ Email #}
            <div class="form-group">
                {{ form_widget(DonateurForm.email, {
                    'attr': {
                        'placeholder': 'Email',
                        'class': 'form-control'
                    }
                }) }}
            </div>
            
            {# Champ Password #}
            <div class="form-group">
                {{ form_widget(DonateurForm.password, {
                    'attr': {
                        'placeholder': 'Password',
                        'class': 'form-control'
                    }
                }) }}
            </div>
            
            {# Champ Groupe Sanguin #}
            {# attr a la place de input dans le html #}
            <div class="form-group">
                {{ form_widget(DonateurForm.groupeSanguin, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            
            {# Champ Lieu #}
            <div class="form-group">
                {{ form_widget(DonateurForm.lieu, {
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
            </div>
            
            {# Champ Date de don #}
            <div class="form-group">
                {{ form_widget(DonateurForm.derniereDateDon, {
                    'attr': {
                        'class': 'form-control',
                        'placeholder': 'Last donation date'
                    }
                }) }}
            </div>
            
        
            
            <div class="reg-group">
                <input class="check" type="checkbox" required style="height: auto; display:inline; margin: 0 auto;">
                Agree on terms and conditions<br>
                <button class="submit" type="submit" style="background-color: rgb(51, 58, 65);">Submit</button>
            </div>
        {{ form_end(DonateurForm) }}
    </div>
</section>
<!-- Sign Up End -->
    <!-- Sign Up End -->

    <!-- Footer Start -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="foot-info">
                        <img src="{{ asset ('theme/img/logo.png')}}" alt="">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ut sit natus earum ea cum
                            doloremque fugit. Sit non ex suscipit fugiat molestias, ipsa rerum tempore voluptates
                            adipisci rem cum?</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="menu">
                        <a href='{{ path('Accueil') }}'>
                            <li>Home</li>
                        </a>
                        <a href="{{ asset ('theme/About-us.html')}}">
                            <li>About Us</li>
                        </a>
                        <a href="#articles">
                            <li>Articles</li>
                        </a>
                        <a href="{{ asset ('theme/requests.html')}}">
                            <li>Donations</li>
                        </a>
                        <a href="{{ asset ('theme/who-we-are.html')}}">
                            <li>Who We Are?</li>
                        </a>
                        <a href="{{asset ('theme/contact-us.html')}}">
                            <li>Contact Us</li>
                        </a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="options">
                        <li>
                            <h5>Available On</h5>
                        </li>
                        <li><img src="{{ asset ('theme/img/ios1.png')}}" alt=""></li>
                        <li><img src="{{ asset ('theme/img/google1.png')}}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer End -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="{{asset ('theme/js/swiper.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('theme/js/wow.min.js')}}"></script>
    <script type="text/javascript" src="{{asset ('theme/js/main.js')}}"></script>
</body>

</html>